<ion-header>
  <ion-navbar>
    <ion-buttons left>
        <button ion-button
          icon-only (click)="volver()">
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Detalles de la jornada</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-buttons *ngIf="rol=='admin';">
    <button ion-button color="danger" outline (click)="eliminarJornada(jornada)">Eliminar jornada</button>
    <button ion-button color="secondary" outline (click)="editarJornada(jornada)">Editar jornada</button>
  </ion-buttons>
  <br>
  <u><b><p style="text-align: center;">DETALLES DE LA JORNADA</p></b></u>
  <ion-item><p><b>Nombre:</b> {{jornada.nombre}}</p></ion-item>
  <ion-item *ngIf="jornada.casa == 't'"><p><b>Fuera o en casa:</b> en casa</p></ion-item>
  <ion-item *ngIf="jornada.casa == 'f'"><p><b>Fuera o en casa:</b> fuera</p></ion-item>
  <ion-item><p><b>Fecha:</b> {{jornada.fecha}}</p></ion-item>
  <br><br>
  <p style="text-align: center;"><u><b>EQUIPO: </b> {{jornada.equipo}}</u></p>

  <ion-item *ngFor="let jugador of titulares">
    <p>{{jugador.jugadornombre}} | <span *ngIf="jugador.resultado" end>{{jugador.resultado}}</span> 
      <span *ngIf="!jugador.resultado;">
        <button ion-button *ngIf="rol=='admin';" (click)=addResultado(jugador)>Asignar Resultado</button>
        <button ion-button *ngIf="rol=='capitan';" (click)=addResultado(jugador)>Asignar Resultado</button>
      </span> 
    </p>
  </ion-item>

  <button *ngIf="rol=='admin';" ion-button (click)=obtenerTitulares(jornada.equipo)>Asignar Titulares</button>
  <button *ngIf="rol=='capitan';" ion-button (click)=obtenerTitulares(jornada.equipo)>Asignar Titulares</button>
</ion-content>
