<ion-header>
  <ion-navbar>
    <ion-buttons left>
    <button ion-button
      icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <button ion-button
      icon-only (click)="volver()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Jugadores
    </ion-title>
    <ion-buttons end *ngIf="rol=='admin';">
      <button ion-button (click)="addJugador()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let jugador of jugadores | async" (click)="irJugador(jugador)">
      {{jugador.nombre}}, {{jugador.elo}}
    </ion-item>
  </ion-list>
</ion-content>