<ion-header>
    <ion-navbar>
      <ion-buttons>
        <button ion-button
          icon-only (click)="volver()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Equipo, {{equipo.nombre}}</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content padding>
  <h1>{{equipo.nombre}}</h1>
  <ion-item *ngFor="let jugador of equipoJugadores">
    <p *ngIf="jugador.rol=='capitan'; else noCapitan" style="color: red">{{jugador.nombre}}, {{jugador.elo}}</p>
      <ng-template #noCapitan>
        <p *ngIf="jugador.rol=='user'; else noCapitan" style="color: black">{{jugador.nombre}}, {{jugador.elo}}</p>
      </ng-template>


    <!-- <button ion-button *ngIf="jugador.rol=='user'; else noCapitan" (click)=capitan(jugador)>Asignar Capitan</button>
        <ng-template #noCapitan>
            <button ion-button *ngIf="jugador.rol=='capitan'; else noCapitan" (click)=capitan(jugador)>Desasignar Capitan</button>
        </ng-template> -->
  </ion-item>

  <ion-buttons>
    <button ion-button (click)=editarEquipo(equipo)>Editar Equipo</button>
    <button ion-button (click)=eliminarEquipo(equipo)>Eliminar Equipo</button>
    <button ion-button (click)=addJugadores(equipo)>Añadir Jugadores</button>
  </ion-buttons>
</ion-content>
